# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
/fabric/run-datagen/logs
/fabric/src/generated
/forge/src/generated
/fabric/run-datagen/.mixin.out/class/net/minecraft/world/entity
